/*== Variables ==*/

/* Import fonts */

@font-face {

  font-family: 'Nunito Sans';
  font-weight: 200;
  font-style: normal;
  src: local('Nunito Sans Extra Light'), url('/assets/css/fonts/NunitoSans-ExtraLight.ttf') format('truetype');
  font-display: swap;

}

@font-face {

  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
  src: local('Nunito Sans Regular'), url('/assets/css/fonts/NunitoSans-Regular.ttf') format('truetype');
  font-display: swap;

}

@font-face {

  font-family: 'Nunito Sans';
  font-weight: 700;
  font-style: normal;
  src: local('Nunito Sans Extra Bold'), url('/assets/css/fonts/NunitoSans-Bold.ttf') format('truetype');
  font-display: swap;

}

:root {

  /* Fonts */

  --system-font: Arial, sans-serif;
  --nunito-sans: 'Nunito Sans', Arial, sans-serif;

  /* Colors */

  --blue: #3fabe2;
  --yellow: #fedf34;
  --dark-gray: #222222;
  --light-gray: #b8c0c5;
  --white: #fff;

  /* Breakpoints (for reference only - CSS variables can't be used in media queries) */

  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;


}

/*== Global Styles ==*/

/* Resets */

/* Universal box sizing > includes padding and border,
but NOT margin, in total box size */

*, *:before, *:after {

  box-sizing: border-box;

}

/* Removes margin & padding from all browsers */

html, body, div, ul, li,
h1, h2, h3, h4, h5, h6 {

  margin: 0;
  padding: 0;

}

/* Removes underline from all link states */

a:link, a:visited, a:hover, a:active {

  text-decoration: none;

}

/* Make images easier to work with */

img {

  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;

}

/* Removes default button styles */

button {

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 1.125rem;
  background: 0 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;

}

/* Screen readers only */

.sr-only, .sr-only-focusable {

  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  border: 0;

}

.sr-only-focusable:focus {

  position: relative;
  width: auto;
  height: auto;
  padding: inherit;
  margin: inherit;
  clip: initial;
  border: initial;

}

/*== Common Styles ==*/

/* Set default scroll behavior */

html {

  scroll-behavior: smooth;
  overflow-x: hidden;

}

/* Initially load system font while custom fonts load */

body {

  color: var(--dark-gray);
  font-family: var(--system-font);
  font-size: 1.125rem;
  line-height: 1.65;

}

h1, h2, h3 {

  font-weight: 700;
  margin: 1.5rem 0;
  line-height: 1.25;

}

h1 {

  font-size: 2.25rem;

}

h2 {

  font-size: 1.5rem;

}

h3 {

  font-size: 1.125rem;

}

@media (min-width: 992px) {

  h2 {

    font-size: 2.25rem;

  }

  h3 {

    font-size: 1.5rem;

  }

}

ul {

  list-style-position: inside;
  margin-inline-start: 1rem;

}

a {

  color: var(--blue);

}

a:hover, a:focus {

  border-bottom: 2px solid var(--blue);
  transition: border-bottom 0.1s;

}

/* Replace system font with custom fonts once loaded */

.fonts-loaded body {

  font-family: var(--nunito-sans);

}

/* Buttons */

.btn {

  display: inline-block;
  margin: 0.5rem 1rem 0 0.5rem;
  padding: 0.5rem 1.125rem;
  border-radius: 5px;

}

.btn.blue {

  color: var(--white);
  background-color: var(--blue);
  border: 2px solid var(--blue);

}

.btn.blue:hover, .btn.blue:focus,
.btn.white:hover, .btn.white:focus {

  background-color: #2c789e;
  transition: background-color 0.1s;

}

.btn.white {

  color: var(--blue);
  border: 2px solid var(--blue);

}

.btn.yellow {

  color: var(--blue);
  background-color: var(--yellow);
  border: 2px solid var(--yellow);

}

.btn.yellow:hover, .btn.yellow:focus {

  background-color: #feec85;
  transition: background-color 0.1s;

}

/* Icons */

[class*=icon-]::before {

  content: "";
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  vertical-align: middle;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

}

/* Header Menu */

header#menu {

  position: fixed;
  top: 0;
  width: 100%;
  height: 85px;
  margin: 0 auto;
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 10;

}

header#menu .lock {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

}

header#menu a {

  color: var(--dark-gary);
  
}

header#menu a:hover, header#menu a:focus,
header#menu button:hover, header#menu button:focus {

  color: var(--blue);
  border: none;

}

header#menu a.logo:hover,
header#menu a.logo:focus {

  border: none;

}

header#menu a.logo img {

  max-width: 177px;
  margin: 0;

}

/* Hamburger Menu (closed) */

header#menu button.icon-menu[aria-expanded="false"]::before {

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3e%3cpath fill='%23222222' d='M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z'/%3e%3c/svg%3e");

}

/* Hamburger Menu (open) */

header#menu button.icon-menu[aria-expanded="true"]::before {

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 352 512'%3e%3cpath fill='%23222222' d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z'/%3e%3c/svg%3e");

}

header#menu button.icon-menu[aria-expanded="true"] + nav {

  display: initial;

}

header#menu nav {

  display: none;
  position: absolute;
  top: 85px;
  right: 0;
  width: 220px;
  min-height: calc(100% - 85px);
  padding: 15px 0;
  background-color: var(--white);
  z-index: 0;

}

header#menu nav ul {

  margin: 0;
  padding: 0 1rem;
  list-style: none;

}

header#menu nav li > ul {

  display: none;

}

header#menu nav button[aria-expanded="true"] + ul {

  display: block;

}

@media (min-width: 576px) {

  header#menu button.icon-menu {

    display: none;

  }

  header#menu nav {

    position: initial;
    display: flex;
    align-items: center;
    width: auto;
    padding: 0;

  }

  header#menu nav > ul {

    display: flex;
    align-items: center;

  }

  header#menu nav > ul > li {

    margin: 0 1rem;

  }

  header#menu nav li {

    position: relative;

  }

  header#menu nav > ul > li > ul {

    position: absolute;
    right: -1rem;
    text-align: right;
    background-color: var(--white);
    width: 220px;
    padding: 1rem;

  }

}

/* Footer */

footer {

  width: 100%;
  height: auto;
  margin: 0 auto;

}

/* Main */

main {

  margin-top: 85px;

}

/*== Shared Grid & Lock Styles ==*/

section {

  width: 100%;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;

}

.lock {

  max-width: 1200px;
  height: auto;
  margin: 0 1rem;

}

.lock .row {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0px;
  grid-auto-flow: dense;
  height: auto;

}

.lock .row > .container {

  grid-column: 1 / span 4;

}

/* Increase lock margin */

@media (min-width: 576px) {

  .lock {

    margin: 0 2rem;

  }

}

/* Tablet grid */

@media (min-width: 768px) {

  .lock .row {

    grid-template-columns: repeat(8, 1fr);

  }

  .lock .row > .container {

    grid-column: span 4;

  }

}

/* Desktop grid */

@media (min-width: 992px) {

  .lock .row {

    grid-template-columns: repeat(12, 1fr);

  }

  .lock .row > .container {

    grid-column: span 6;

  }

}

/* Center lock on large screens */

@media (min-width: 1264px) {

  .lock {

    margin: 0 auto;

  }

}

/*== Block Styles ==*/

/* Hero block */

section.hero .container.image {

  position: relative;

}

section.hero .yellow-border {

  position: absolute;
  top: 2.5rem;
  width: 100%;
  height: 65%;
  border: 8px solid var(--yellow);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

section.hero .container.image img {

  min-width: calc(100% + 4rem);
  min-height: 545px;
  margin-left: -2rem;
  object-fit: cover;
  object-position: 65%;

}

section.hero .container.text {

  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: span 3;
  background-color: var(--white);
  margin-top: -12rem;
  padding: 0 2rem;
  z-index: 1;

}

section.hero  h3 {

  font-style: italic;

}

@media (min-width: 768px) {

  section.hero .yellow-border {

    top: 4rem;
    right: 0;
    width: 110%;

  }

  section.hero .container.image {

    grid-column: 5 / span 4;

  }

  section.hero .container.image img {

    margin-left: 0;

  }

  section.hero .container.text {

    grid-column: 1 / span 3;
    padding: 0;
    margin: 1rem 0;
    z-index: 0;

  }

}

@media (min-width: 992px) {

  section.hero .container.image {

    grid-column: 7 / span 6;

  }

  section.hero .container.text {

    grid-column: 1 / span 5;

  }

}
