/*== Variables ==*/

/* Import fonts */

@font-face {

  font-family: 'Nunito Sans';
  font-weight: 200;
  font-style: normal;
  src: local('Nunito Sans Extra Light'), url('/assets/css/fonts/NunitoSans-ExtraLight.ttf') format('truetype');
  font-display: swap;

}

@font-face {

  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
  src: local('Nunito Sans Regular'), url('/assets/css/fonts/NunitoSans-Regular.ttf') format('truetype');
  font-display: swap;

}

@font-face {

  font-family: 'Nunito Sans';
  font-weight: 700;
  font-style: normal;
  src: local('Nunito Sans Extra Bold'), url('/assets/css/fonts/NunitoSans-Bold.ttf') format('truetype');
  font-display: swap;

}

:root {

  /* Fonts */

  --system-font: Arial, sans-serif;
  --nunito-sans: 'Nunito Sans', Arial, sans-serif;

  /* Colors */

  --blue: #3fabe2;
  --yellow: #fedf34;
  --dark-gray: #222222;
  --light-gray: #b8c0c5;
  --white: #fff;

  /* Breakpoints (for reference only - CSS variables can't be used in media queries) */

  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;


}

/*== Global Styles ==*/

/* Resets */

/* Universal box sizing > includes padding and border,
but NOT margin, in total box size */

*, *:before, *:after {

  box-sizing: border-box;

}

/* Removes margin & padding from all browsers */

html, body, div, ul, ol, li,
h1, h2, h3, h4, h5, h6, blockquote {

  margin: 0;
  padding: 0;

}

/* Removes underline from all link states */

a:link, a:visited, a:hover, a:active {

  text-decoration: none;

}

/* Make images easier to work with */

img {

  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;

}

/* Removes default button styles */

button {

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: 0 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;

}

/* Screen readers only */

.sr-only, .sr-only-focusable {

  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  border: 0;

}

.sr-only-focusable:focus {

  position: relative;
  width: auto;
  height: auto;
  padding: inherit;
  margin: inherit;
  clip: initial;
  border: initial;

}

/*== Common Styles ==*/

/* Set default scroll behavior */

html {

  scroll-behavior: smooth;
  overflow-x: hidden;

}

/* Initially load system font while custom fonts load */

body {

  color: var(--dark-gray);
  font-family: var(--system-font);
  font-size: 1.125rem;
  line-height: 1.65;

}

/* Replace system font with custom fonts once loaded */

.fonts-loaded body {

  font-family: var(--nunito-sans);

}

h1, h2, h3 {

  font-weight: 700;
  margin: 1.5rem 0;
  line-height: 1.25;

}

h1 {

  font-size: 2.25rem;

}

h2 {

  font-size: 1.5rem;

}

h3 {

  font-size: 1.125rem;

}

@media (min-width: 992px) {

  h2 {

    font-size: 2.25rem;

  }

  h3 {

    font-size: 1.5rem;

  }

}

ul, ol {

  list-style-position: inside;
  margin: 1.5rem;

}

a {

  color: var(--blue);

}

a:hover, a:focus {

  border-bottom: 2px solid var(--blue);
  transition: border-bottom 0.1s;

}

blockquote {

  margin: 1.5rem 0;
  padding: 0 1.5rem;
  border-left: 4px solid var(--yellow);

}

pre {

  background-color: #efefef;
  margin: 1.5rem 0;
  padding: 1rem;
  border-radius: 5px;

}

/* Buttons */

button {

  font-family: var(--nunito-sans);
  font-size: 1.125rem;

}

.btn {

  display: inline-block;
  margin: 0.25rem;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  white-space: nowrap;

}

.btn.blue {

  color: var(--white);
  background-color: var(--blue);
  border: 2px solid var(--blue);

}

.btn.white {

  color: var(--blue);
  background-color: var(--white);
  border: 2px solid var(--blue);

}


.btn.blue:hover, .btn.blue:focus,
.btn.white:hover, .btn.white:focus {

  background-color: #2c789e;
  transition: background-color 0.1s;

}

.btn.yellow {

  color: var(--blue);
  background-color: var(--yellow);
  border: 2px solid var(--yellow);

}

.btn.yellow:hover, .btn.yellow:focus {

  background-color: #feec85;
  transition: background-color 0.1s;

}

/* Yellow border */

.yellow-border {

  position: absolute;
  border: 8px solid var(--yellow);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

/* Icons */

[class*=icon-]::before {

  content: "";
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  vertical-align: middle;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

}

.icon-left-arrow::before {

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3e%3cpath fill='%23222222' d='M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z'/%3e%3c/svg%3e");

}

.icon-right-arrow::before {

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3e%3cpath fill='%23222222' d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z'/%3e%3c/svg%3e");

}

/* Header Menu */

header#menu {

  position: fixed;
  top: 0;
  width: 100%;
  height: 85px;
  margin: 0 auto;
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 10;

}

header#menu .lock {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

}

header#menu a {

  color: var(--dark-gary);

}

header#menu a:hover, header#menu a:focus,
header#menu button:hover, header#menu button:focus {

  color: var(--blue);
  border: none;

}

header#menu a.logo:hover,
header#menu a.logo:focus {

  border: none;

}

header#menu a.logo img {

  max-width: 177px;
  margin: 0;

}

/* Hamburger Menu (closed) */

header#menu button.icon-menu[aria-expanded="false"]::before {

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3e%3cpath fill='%23222222' d='M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z'/%3e%3c/svg%3e");

}

/* Hamburger Menu (open) */

header#menu button.icon-menu[aria-expanded="true"]::before {

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 352 512'%3e%3cpath fill='%23222222' d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z'/%3e%3c/svg%3e");

}

header#menu button.icon-menu[aria-expanded="true"] + nav {

  display: initial;

}

header#menu nav {

  display: none;
  position: absolute;
  top: 85px;
  right: 0;
  width: 220px;
  height: auto;
  padding: 15px 0;
  background-color: var(--white);
  z-index: 0;

}

header#menu nav ul {

  margin: 0;
  padding: 0 1rem;
  list-style: none;

}

header#menu nav li > ul {

  display: none;

}

header#menu nav button[aria-expanded="true"] + ul {

  display: block;

}

@media (min-width: 768px) {

  header#menu button.icon-menu {

    display: none;

  }

  header#menu nav {

    position: initial;
    display: flex;
    align-items: center;
    width: auto;
    padding: 0;

  }

  header#menu nav > ul {

    display: flex;
    align-items: center;

  }

  header#menu nav > ul > li {

    margin: 0 1rem;

  }

  header#menu nav li {

    position: relative;

  }

  header#menu nav > ul > li > ul {

    position: absolute;
    right: -1rem;
    text-align: right;
    background-color: var(--white);
    width: auto;
    min-width: 150px;
    padding: 1rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  }

}

/* Footer */

footer {

  width: 100%;
  height: auto;
  margin: 0 auto;

}

/* Main */

main {

  margin-top: 85px;

}

/*== Shared Grid & Lock Styles ==*/

section {

  width: 100%;
  height: auto;
  margin: 0 auto;

}

section + section {

  margin: 2rem auto;

}

.lock {

  max-width: 1200px;
  height: auto;
  margin: 0 1rem;

}

.lock .row {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  grid-auto-flow: dense;
  height: auto;

}

.lock .row + .row {

  margin-top: 2rem;

}

.lock .row > .container {

  grid-column: 1 / span 4;

}

/* Increase lock margin */

@media (min-width: 576px) {

  .lock {

    margin: 0 2rem;

  }

}

/* Tablet grid */

@media (min-width: 768px) {

  .lock .row {

    grid-template-columns: repeat(8, 1fr);

  }

  .lock .row > .container {

    grid-column: span 4;

  }

}

/* Desktop grid */

@media (min-width: 992px) {

  .lock .row {

    grid-template-columns: repeat(12, 1fr);

  }

  .lock .row > .container {

    grid-column: span 6;

  }

}

/* Center lock on large screens */

@media (min-width: 1264px) {

  .lock {

    margin: 0 auto;

  }

}

/*== Block Styles ==*/

/* Hero block */

section.hero .yellow-border {

  top: 2.5rem;
  width: 100%;
  height: 65%;

}

section.hero .container.image {

  position: relative;

}

section.hero .container.image img {

  min-width: calc(100% + 4rem);
  min-height: 545px;
  margin-left: -2rem;
  object-fit: cover;
  object-position: 65%;

}

section.hero .container.text {

  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: span 3;
  background-color: var(--white);
  margin-top: -12rem;
  padding: 0 1rem;
  z-index: 1;

}

section.hero  h3 {

  font-style: italic;

}

@media (min-width: 768px) {

  section.hero .yellow-border {

    top: 4rem;
    right: 0;
    width: 110%;

  }

  section.hero .container.image {

    grid-column: 5 / span 4;

  }

  section.hero .container.image img {

    margin-left: 0;

  }

  section.hero .container.text {

    grid-column: 1 / span 3;
    padding: 0;
    margin: 1rem 0;
    z-index: 0;

  }

}

@media (min-width: 992px) {

  section.hero .container.image {

    grid-column: 7 / span 6;

  }

  section.hero .container.text {

    grid-column: 1 / span 5;

  }

}

/* Grid block */

section.grid .yellow-border {

  top: 2rem;
  bottom: -2rem;
  width: 100%;

}

section.grid .container.image {

  position: relative;

}

section.grid .container.image img {

  min-width: calc(100% + 4rem);
  height: 320px;
  margin: 0 0 0 -2rem;
  object-fit: cover;

}

section.grid .container.text {

  grid-row: 2;

}

section.grid .container.video {

  position: relative;

}

section.grid .container.donation .widget-wrapper {

  background-color: var(--white);
  margin-bottom: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: -4px 4px 15px -3px rgba(0, 0, 0, 0.25);

}

/**
  Start temporary styles (remove after donation widget embed is in place)
**/
.widget-wrapper .buttons {

  display: flex;

}

.widget-wrapper .buttons .btn {

  width: 100%;

}
/**
  End temporary styles
**/

@media (min-width: 768px) {

  section.grid .row {

    min-height: 450px;

  }

  section.grid .row.item-1 > .container {

    grid-column: span 8;

  }

  section.grid .yellow-border {

    bottom: 2rem;
    left: -1rem;
    right: auto;

  }

  section.grid .container.image img {

    min-width: 100%;
    height: 100%;
    margin: 0;

  }

  section.grid .container.text {

    grid-row: auto;
    margin: 0 1rem;

  }

  section.grid .container.video .yellow-border {

    top: 50%;
    bottom: auto;
    padding-bottom: calc(110% / (16/9));
    transform: translateY(-50%);

  }

}

@media (min-width: 992px) {

  section.grid .yellow-border {

    left: -3rem;
    right: auto;

  }

  section.grid .container:first-child .yellow-border {

    left: auto;
    right: -3rem;

  }

  section.grid .row.item-1 > .container {

    grid-column: span 12;

  }

  section.grid .row.item-3 > .container {

    grid-column: span 4;

  }

  section.grid .row.item-2 > .container.image,
  section.grid .row.item-2 > .container.donation {

    grid-column: 8 / span 5;

  }

  section.grid .row.item-2 > .container.image:first-child,
  section.grid .row.item-2 > .container.donation:first-child {

    grid-column: span 5;

  }

  section.grid .row.item-2 > .container.text,
  section.grid .row.item-2 > .container.video {

    grid-column: 7 / span 6;

  }

  section.grid .row.item-2 > .container.text:first-child,
  section.grid .row.item-2 > .container.video:first-child {

    grid-column: span 6;

  }

}

/* Rich text / Body content block */

section.rich-text .lock,
section.body-content .lock {

  overflow: auto;

}

section.rich-text.yellow {

  background-color: rgba(254, 223, 52, 0.65);

}

section.rich-text.blue {

  background-color: rgba(63, 171, 226, 0.65);

}

/* Carousel block */

section.carousel {

  height: 881px;

}

section.carousel .lock {

  position: relative;
  min-height: 450px;

}

section.carousel .lock .row + .row {

  margin: 0;

}

section.carousel .slides {

  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;

}

section.carousel [data-slide] {

  position: absolute;
  width: 100%;
  height: 100%;

}

section.carousel [data-slide][hidden] {

  display: initial;
  visibility: hidden;

}


section.carousel .yellow-border {

  top: 2rem;
  bottom: -2rem;
  width: 100%;

}

section.carousel .container.image {

  position: relative;

}

section.carousel .container.image img {

  min-width: calc(100% + 4rem);
  height: 320px;
  margin: 0 0 0 -2rem;
  object-fit: cover;

}

section.carousel .container.text .wrapper.yellow {

  background-color: var(--yellow);

}

section.carousel .container.text .wrapper.blue {

  color: var(--white);
  background-color: var(--blue);

}

section.carousel .container.text {

  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 2 / span 3;
  margin-top: -8rem;
  z-index: 1;

}

section.carousel .container.text .wrapper {

  padding: 1rem;

}

section.carousel .controls {

  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 225px;
  right: 0;
  left: 0;

}

section.carousel .controls > button {

  background-color: rgba(255, 255, 255, 0.65);
  z-index: 10;

}

@media (min-width: 768px) {

  section.carousel {

    height: auto;

  }

  section.carousel .slides {

    overflow: hidden;

  }

  section.carousel .yellow-border {

    top: 2rem;
    right: -4rem;
    bottom: 2rem;
    left: 4rem;
    width: auto;

  }

  section.carousel .row {

    min-height: 450px;

  }

  section.carousel .container.image img {

    min-width: 100%;
    height: 100%;
    margin: 0;

  }

  section.carousel .container.image {

    grid-column: span 5;

  }

  section.carousel .container.text {

    grid-column: span 3;
    margin: 0 0 0 -7rem;

  }

}

@media (min-width: 992px) {

  section.carousel .container.image {

    grid-column: 2 / span 6;

  }

  section.carousel .container.text {

    grid-column: 8 / span 4;

  }

}

/* Carousel block animations */

.next-leaving {

  animation-duration: 1s;
  animation-name: nextLeaving;

}

@keyframes nextLeaving {

  from {

    left: 0;

  }

  to {

    left: -100%;

  }

}

.next-entering {

  animation-duration: 1s;
  animation-name: nextEntering;

}

@keyframes nextEntering {

  from {

    left: 100%;

  }

  to {

    left: 0;

  }

}

.previous-leaving {

  animation-duration: 1s;
  animation-name: previousLeaving;

}

@keyframes previousLeaving {

  from {

    right: 0;

  }

  to {

    right: -100%;

  }

}

.previous-entering {

  animation-duration: 1s;
  animation-name: previousEntering;

}

@keyframes previousEntering {

  from {

    right: 100%;

  }

  to {

    right: 0;

  }

}
