<section class="contact-form">

  <div class="lock">

    <form name="Contact Form" action="/thank-you/" method="post" data-netlify-recaptcha="true" data-netlify="true">

      <!-- Netlify honeypot field -->
      <p class='hidden'><label>Don’t fill this out: <input name='surname'></label></p>

      <div class="wrapper">

        <!-- Standard form fields -->
        <div class="label-input">
          <label for="first-name">First Name</label>
          <input type='text' id="first-name" name='first name' placeholder='First Name' required>
        </div>

        <div class="label-input">
          <label for="last-name">Last Name</label>
          <input type='text' id="last-name" name='last name' placeholder='Last Name' required>
        </div>

        <div class="label-input">
          <label for="phone-number">Phone Number</label>
          <input type='tel' id="phone-number" name='phone' placeholder='(123) 456-7890' required>
        </div>

        <div class="label-input">
          <label for="email-address">Email Address</label>
          <input type='email' id="email-address" name='email' placeholder='email@address.com' required>
        </div>

        <div class="label-input">
          <label for="message">Anything else to add?</label>
          <textarea id="message" name='message' rows="4"></textarea>
        </div>

        <div class="label-input">
          <p class="label">I'm interested in...</p>
          <div class="checkboxes">
            <label>
              <input type="checkbox" name="volunteering">
              Volunteering with SIP
            </label>

            <label>
              <input type="checkbox" name="donating">
              Donating to SIP
            </label>

            <label>
              <input type="checkbox" name="learning">
              Learning more absolute SIP
            </label>

            <label>
              <input type="checkbox" name="other">
              Something else
            </label>
          </div>
        </div>

        <div class="label-input">
          <!-- Netlify reCAPTCHA 2 -->
          <div data-netlify-recaptcha="true"></div>

          <div class="buttons">
            <button class="btn blue">Contact SIP</button>
          </div>
        </div>

      </div>

    </form>

  </div>

</section>
