<footer>

  <!-- Business info -->
  <section class="info">

    <div class="lock">

      <div class="column">
        <!-- SIP logo -->
        <a href="/" class="logo">
          <img src="/assets/images/sip-logo-tr.png" alt="SIP logo">
        </a>
        <p>©2021 Secure Information Project</p>
      </div>

    </div>

  </section>

  <!-- Inline Scripts -->
  {% include "partials/scripts.njk" %}

</footer>
