<footer>

  <!-- Quick CTA section -->
  <section class="quick-cta">

    <div class="lock">

      <h2>{{ footer.quickCta.headline }}</h2>

      <form name="Quick CTA" action="/thank-you/" method="post" data-netlify="true">

        <input type="text" name="Name" placeholder="Full Name" required>

        <input type="email" name="Email" placeholder="Email Address" required>

        <div class="buttons">
          <button class="btn yellow">{{ footer.quickCta.buttonText }}</button>
        </div>

      </form>

    </div>

  </section>

  <div class="lock">

    <div class="column">
      <!-- SIP Logo -->
      <a href="/" class="logo">
        <img src="/assets/images/sip-logo-tr.png" alt="SIP logo">
      </a>
      <p>©2021 Secure Information Project</p>
    </div>

    <div class="column">
      <h3>Secure Information Project</h3>
      <address>
        <p>{{ footer.contactInfo.street1 }}</p>
        <p>{{ footer.contactInfo.street2 }}</p>
        <p>{{ footer.contactInfo.cityStateZip }}</p>
        <a href="tel:+1{{ footer.contactInfo.phoneNumber | replace(" ", "") |
      replace("(", "") | replace(")", "") | replace("-", "") }}">{{ footer.contactInfo.phoneNumber }}</a>
      </address>
    </div>

    <div class="column">
      <div class="buttons">
        <a href="https://donorbox.org/website-donations-175" class="btn blue custom-dbox-popup">Donate</a>
        <a href="#" class="btn white">Volunteer</a>
      </div>
    </div>

  </div>

  <!-- Donorbox Popup Scripts -->
  <script type="text/javascript" defer src="https://donorbox.org/install-popup-button.js"></script>
  <script>window.DonorBox = { widgetLinkClassName: 'custom-dbox-popup' }</script>

  <!-- Inline Scripts -->
  {% include "partials/scripts.njk" %}

</footer>
