<footer>

  <div class="lock">

    <div class="column">
      <!-- SIP Logo -->
      <a href="/" class="logo">
        <img src="/assets/images/sip-logo-tr.png" alt="SIP logo">
      </a>
      <p>©2021 Secure Information Project</p>
    </div>

    <div class="column">
      <h3>Secure Information Project</h3>
      <address>
        <p>123 First Street</p>
        <p>Suite ABC</p>
        <p>Philadelphia, PA 19143</p>
        <a href="tel:+1234567890">(123) 456-7890</a>
      </address>
    </div>

    <div class="column">
      <div class="buttons">
        <a href="#" class="btn blue">Donate</a>
        <a href="#" class="btn white">Volunteer</a>
      </div>
    </div>

  </div>

  <!-- Inline Scripts -->
  {% include "partials/scripts.njk" %}

</footer>
