<section class="grid">

  <div class="lock">

    {% for row in block.gridRows %}

    <div class="row item-{{ row.gridItems.length }}">

      {% for item in row.gridItems %}

        {% if item.itemType == "text" %}

        <!-- Text grid item -->
        <div class="container text">
          {{ item.text.content | safe }}

          <!-- Buttons (if any) -->
          {% if item.text.buttons.length > 0 %}
          <div class="buttons">
            {% for button in item.text.buttons %}
              <a href="{{ button.url }}" class="btn {{ button.color }}">{{ button.buttonText }}</a>
            {% endfor %}
          </div>
          {% endif %}

        </div>

        {% endif %}

        {% if item.itemType == "image" %}

        <!-- Image grid item -->
        <div class="container image">
          <div class="yellow-border"></div>
          {{ macro.imageSizes(item.image.source, item.image.altText) }}
        </div>

        {% endif %}

        {% if item.itemType == "video" %}

        <!-- Video grid item -->
        <div class="container video">
          <div class="yellow-border"></div>
          <lite-youtube videoid="{{ item.video.videoId }}" {% if item.video.videoCoverImage != '' %} style="background-image: url('{{ site.cloudinary }}{{ item.video.videoCoverImage }}');" {% else %} style="background-image: url('https://i.ytimg.com/vi/{{ item.video.videoId }}/hqdefault.jpg');" {% endif %}>
          </lite-youtube>
        </div>

        {% endif %}

        {% if item.itemType == "donation" %}

        <!-- Donation widget grid item -->
        <div class="container donation">
          <!-- Donorbox embed -->
          <script defer src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe allowpaymentrequest="" frameborder="0" height="900px" name="donorbox" scrolling="no" seamless="seamless" src="https://donorbox.org/embed/website-donations-175" style="max-width: 425px; min-width: 250px; max-height:470px!important" width="100%" loading="lazy"></iframe>
        </div>

        {% endif %}

      {% endfor %}

    </div>

    {% endfor %}

  </div>

</section>
