<section class="grid{% if block.backgroundColor != "none" %} {{ block.backgroundColor }}{% endif %}">

  <div class="lock">

    {% for row in block.gridRows %}

    <div class="row item-{{ row.gridItems.length }}">

      {% for item in row.gridItems %}

        {% if item.itemType == "text" %}

        <!-- Text grid item -->
        <div class="container text">
          {{ item.text.content | safe }}

          <!-- Buttons (if any) -->
          {% if item.text.buttons.length > 0 %}
          <div class="buttons">
            {% for button in item.text.buttons %}
              <a href="{{ button.url }}" class="btn {{ button.color }}">{{ button.buttonText }}</a>
            {% endfor %}
          </div>
          {% endif %}

        </div>

        {% endif %}

        {% if item.itemType == "image" %}

        <!-- Image grid item -->
        <div class="container image">
          <div class="yellow-border"></div>
          {{ macro.imageSizes(item.image.source, item.image.altText) }}
        </div>

        {% endif %}

        {% if item.itemType == "video" %}

        <!-- Video grid item -->
        <div class="container video">
          <div class="yellow-border"></div>
          <lite-youtube videoid="{{ item.video.videoId }}" {% if item.video.videoCoverImage != '' %} style="background-image: url('{{ site.cloudinary }}{{ item.video.videoCoverImage }}');" {% else %} style="background-image: url('https://i.ytimg.com/vi/{{ item.video.videoId }}/hqdefault.jpg');" {% endif %}>
          </lite-youtube>
        </div>

        {% endif %}

        {% if item.itemType == "donationWidget" %}

        <!-- Donation widget grid item -->
        <div class="container donation">
          <h2>{{ item.donationWidget.heading }}</h2>
          <div class="widget-wrapper">
            <!-- Start temporary elements (replace with donation widget embed) -->
            <p style="font-weight: 700; margin-top: 0;">Donation Information</p>
            <div class="buttons">
              <a href="#" class="btn blue">One Time</a>
              <a href="#" class="btn white">Monthly</a>
            </div>
            <div class="buttons">
              <a href="#" class="btn blue">$25</a>
              <a href="#" class="btn white">$50</a>
              <a href="#" class="btn white">$75</a>
            </div>
            <div class="buttons" style="flex-wrap: wrap;">
              <input type="number" name="custom-amount" value="" placeholder="$USD" class="btn" style="border: 2px solid gray; width: 100%; line-height: 1.65; font-size: 1.125rem;">
              <a href="#" class="btn blue" style="width: 50%; margin-top: 1.125rem;">Donate to SIP</a>
            </div>
            <a href="#" style="font-size: 14px; font-weight: 200; font-style: italic;">Choose Another Payment Method</a>
            <!-- End temporary elements -->
          </div>
        </div>

        {% endif %}

      {% endfor %}

    </div>

    {% endfor %}

  </div>

</section>
