<header id="menu">

  <div class="lock">

    <!-- Hamburger Menu Button (mobile-only) -->
    {# <button aria-expanded="false">
      <span class="sr-only">Menu</span>
    </button> #}

    <!-- SIP Logo -->
    <a href="/" class="logo">
      <img src="/assets/images/sip-logo-tr.png" alt="SIP logo">
    </a>

    <!-- Main Menu (for accessible nesting, see https://codepen.io/zheisey/pen/dyPVVWQ) -->
    <nav id="main-menu">
      <!-- Primary Nav Items -->
      <ul class="primary-nav-items">
        <li><a href="#">About</a></li>
        <li><a href="#">Programs</a></li>
        <li><a href="#">Get Involved</a></li>
      </ul>
    </nav>

  </div>

</header>
