<section class="hero">

  <div class="lock">

    <h2>{{ block.heading }}</h2>
    <h3>{{ block.subHeading }}</h3>

    <img src="{{ block.image.source }}" alt="{{ block.image.altText }}">

  </div>

</section>
