<section class="grid posts-list">

  <div class="lock">

    {% set allPosts = collections.posts | reverse %}

    {% for post in posts %}

      {% if post == allPosts[0] %}

      <!-- Featured post -->
      <div class="row item-2">

        <div class="container text">
          <h2>{{ post.data.title }}</h2>
          {{ post.templateContent | truncate(400) | safe }}

          <div class="buttons">
            <a href="{{ post.url }}" class="btn blue">Read Full Article</a>
          </div>
        </div>

        <div class="container image">
          <div class="yellow-border"></div>
          {{ macro.imageSizes(post.data.blocks[0].image.source, post.data.blocks[0].image.altText) }}
        </div>

      </div>

      {% endif %}

    {% endfor %}

    <!-- Other posts -->
    <div class="row item-3">

    {% for post in posts %}

      {% if post !== allPosts[0] %}

      <div class="container">
        {{ macro.imageSizes(post.data.blocks[0].image.source, post.data.blocks[0].image.altText) }}
        <h3>{{ post.data.title }}</h3>
        {{ post.templateContent | truncate(200) | safe }}
        <p><a href="{{ post.url }}">Read Full Article</a></p>
      </div>

      {% endif %}

    {% endfor %}

    </div>

    <nav class="post-pagination">
      {% if pagination.href.next %}
      <!-- Older posts -->
      <a href="{{pagination.href.next}}">
        <span class="icon-left-arrow" type="button" name="prev" aria-label="Left Arrow"></span>
        Older Posts
      </a>
      {% endif %}

      {% if pagination.href.previous %}
      <!-- Newer posts -->
      <a href="{{pagination.href.previous}}">
        Newer Posts
        <span class="icon-right-arrow" type="button" name="next" aria-label="Right Arrow"></span>
      </a>
      {% endif %}
    </nav>

  </div>

</section>
