<section class="grid posts-list">

  <div class="lock">

    {% set allPosts = collections.posts | reverse %}

    {% if page.url === '/news/' %}

    <!-- Featured post -->
      <div class="row item-2">

        <div class="container text">
          <h2>{{ allPosts[0].data.title }}</h2>
          <p class="post-date">{{ allPosts[0].date.toDateString() }}</p>
          {{ allPosts[0].templateContent | truncate(250) | safe }}

          <div class="buttons">
            <a href="{{ allPosts[0].url }}" class="btn blue">Read Full Article</a>
          </div>
        </div>

        <div class="container image">
          <div class="yellow-border"></div>
          {{ macro.imageSizes(allPosts[0].data.blocks[0].image.source, allPosts[0].data.blocks[0].image.altText) }}
        </div>

      </div>

    {% endif %}

    <!-- Other posts -->
    <div class="row item-3">

    {% for post in posts %}

      <div class="container">
        {{ macro.imageSizes(post.data.blocks[0].image.source, post.data.blocks[0].image.altText) }}
        <h3>{{ post.data.title }}</h3>
        <p class="post-date">{{ post.date.toDateString() }}</p>
        {{ post.templateContent | truncate(125) | safe }}
        <p><a href="{{ post.url }}">Read Full Article</a></p>
      </div>

    {% endfor %}

    </div>

    <nav class="post-pagination">

    {% if pagination.href.next %}
      <!-- Older posts -->
      <a href="{{pagination.href.next}}">
        <span class="icon-left-arrow" type="button" name="prev" aria-label="Left Arrow"></span>
        Older Posts
      </a>
    {% endif %}

    {% if pagination.href.previous %}
      <!-- Newer posts -->
      <a href="{{pagination.href.previous}}">
        Newer Posts
        <span class="icon-right-arrow" type="button" name="next" aria-label="Right Arrow"></span>
      </a>
    {% endif %}

    </nav>

  </div>

</section>
