<section class="rich-text{% if block.backgroundColor !== "none" %} {{ block.backgroundColor }}{% endif %}">

  <div class="lock">

    {{ block.content | replace("<li><p>", "<li>") | replace("</p></li>", "</li>") | safe }}

  </div>

</section>
