<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>{% if title %}{{ title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">

    <!-- Favicon -->
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon"/>

    <!-- Preload Fonts -->
    <link rel="preload" href="/assets/css/fonts/NunitoSans-Bold.ttf" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="preload" href="/assets/css/fonts/NunitoSans-ExtraLight.ttf" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="preload" href="/assets/css/fonts/NunitoSans-Bold.ttf" as="font" type="font/ttf" crossorigin="anonymous">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/assets/css/main.css">

  </head>

  <body>

    <!-- Header -->
    {% include "partials/header.njk" %}

    <!-- Main -->
    <main data-page="{{ page.url }}">

      {% block content %}{% endblock %}

    </main>

    <!-- Footer -->
    {% include "partials/footer.njk" %}

  </body>

</html>
