{% extends "layouts/base.njk" %}

{% import "partials/macros.njk" as macro with context %}

{% block content %}

  {% for block in blocks %}

    {% include "partials/" + block.type + ".njk" %}

  {% endfor %}

{% endblock %}
